@model MVC_PhotoAlbum.Models.User

@{
    ViewBag.Title = "Create";
}

<h2>新增</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>帳號</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                <span class="field-validation-error text-danger" data-valmsg-for="Account" data-valmsg-replace="true">@ViewBag.UserAccountExistMessage</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new {@class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                <span class="field-validation-error text-danger" >@ViewBag.DifferentPwd</span>
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Salt, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Salt, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.HiddenFor(model => model.Salt, new { Value = 123 })
                @Html.ValidationMessageFor(model => model.Salt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.role, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.role, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <input type="submit" value=" 確認送出" class="btn app-btn-primary" />
        <a href="@Url.Action("Index")" class="btn app-btn-primary">返回</a>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}